     <% if @logged_in_user %>
      Welcome <%= @logged_in_user.username %>
      <% end %>
    

    <div class="container">
      <h1>Fwitter Users:</h1>
      <% @users.each do |user|%>
        <p><img src="<%= user.profile_pic %>"></p>
        <p><strong>Name:</strong><%= user.username %></p>
        <p><strong>Email:</strong><%= user.email %></p>
        <p><strong>Age:</strong><%= user.age %></p>
      <% end %>

      <h2>Add A User:</h1>
      <form action="/users" method="POST">
        Username: <input class="form-control" type="text" name="username">
        Email: <input class="form-control" type="text" name="email">
        Profile Picture (URL): <input class="form-control" type="text" name="profile_pic">
        Age: <input type=integer name="age">
        <p><input type="submit" class="btn btn-default"></p>
      </form>
    
